body{
    background-image: linear-gradient(to right,darkblue, lightblue);
    box-sizing: border-box;
}

.logo{
    color: white; padding-top: 10px; font-size: 3em;
}

a{
    text-decoration: none;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.nav-item{
    padding-left: 1em;
}

.links{
    padding: 2em;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1.3em;
    line-height: 1.5em;
    color: black;
    display: inline-block;
}

.intro{
    padding: 2em;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1.3em;
    line-height: 1.5em;
    color: white;
    /* border: 2px solid black; */
    /* border-radius: 24px; */
    /* background-color: white; */
    display: inline-block;
    /* background-image: linear-gradient(to left,rgb(0, 183, 255), rgb(138, 208, 255)); */
}

img {
    margin-top: 3em;
    margin-left: 4em;
    border: 5px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    height: 700px;
    display: inline;
}
img:hover {
    box-shadow: 0 0 5px 5px blue;
}
.college{
    font-size: 1.3em; 
    color: darkblue; 
    font-weight: 600; 
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {

    body{
        background-image: linear-gradient(to right,darkblue, lightblue);
        box-sizing: border-box;
    }
    .logo{
        font-size: 2em;
    }

    .links{
        margin: 0;
        font-size: 1em;
        color: white;
    }
    .college{
        color: white;
    }

    .intro{
        padding: 1em;
        font-size: 1em;
        margin: 0.5em;
    }
    img{
        border: 2px solid #ddd;
        border-radius: 50%;
        padding: 5px;
        width: 200px;
        height: 200px;
    }
}


